@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.Dcards-cont{
    display: flex;
    justify-content: center;
    /* margin: 3rem; */
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-right:0 ;
    width: 100%;
    
}


#Dcard{
    width: 23rem;
    height: 18rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 13px;
    padding: 7px 10px 0px 0px;

   
    box-shadow:  8px 8px 10px #D9D7F1,
                 -5px -5px 10px #fdfdfd;
}
#Dcard img{
    width:11rem;
    height: 8rem;
    margin: 2rem;
}

#Dcard button{
    width: 7rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    /* background-color: #332A7C; */
}

.Lost-Found button{
    background-color:#87DFF0 ;
}
.My-Tickets button{
background-color:#F0BC5E;
border: none;
}

.Buy-Sell button{
    background-color:#F25767 ;
}
.Stats button{
    background-color:#4FBDBA;
    border: none;
} 
.My-Responses button{
    background-color:#8946A6;
    border: none;
}