@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.profile-card {
  width: 23rem;
  height: 18rem;
  /* text-align: center; */
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 13px;
  /* background: #87DFF0; */
  background-color: white;

  box-sizing: border-box;
  overflow: hidden;

  transition: transform 0.3s ease-out;

  box-shadow: 8px 8px 10px #D9D7F1, -5px -5px 10px #fdfdfd;
}

.main-content {
  display: flex;
  font-family: 'Noto Sans', sans-serif; 
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 23rem;
  height: 18rem;
  margin-top:25px;
  /* border: 2px solid red; */
}
.profile-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 30px;
}
.profile-img img {
  width: 9rem;
  height: 10rem;
  border-radius: 50%;
}
.main-content h1 h4 {
  margin: 0px;
  color: white;
  padding: 10
}

.main-content h4 {
  color: white;
}
.other-content {
  margin-top: 15px;
  box-sizing: border-box;
  width: 23rem;
  height: 18rem;
  color: black;
  text-align: center;
}

/* .profile-card:hover {
  overflow: visible;
  border-radius: 13px 13px 0px 0px;
  height: 30rem;
  transform: scale(1.1) translateZ(5px);
  box-shadow: 5px 5px 10px #c3c3c3, -5px -5px 10px #fdfdfd;
} */

@media (max-width: 845px) {
  .profile-card {
    display: none;
  }
}
