
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-nav{
    display: flex;
    position: relative;
    z-index: 2;
    max-width: 100vw;
    height: 12vh;
    background-color: #332A7C;
    color: white;
    
    
}
.header1{
    width: 100%;
    margin-top: 22px;
    margin-left: 5rem;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 0.5em;
    width: 100%;
    /* margin-top: 24px; */
   
  } 

  li{
    display: inline-block;
    margin:0 0.5em;
  }
  
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

 

 .a a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin-top: 10px;
    
   
}
.form{
    display: flex;
}
.a{
    margin-top: 26px;
    display: flex;
    gap: 0.8rem;
}
.a svg{
    font-size: 1.2em;
}


.search{
    box-sizing: border-box;
    height: 2.4em;
    border: none;
    /* border:2px solid red; */
    border-radius: 20px 0px 0 20px;
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
}
.icon{
    background-color:#F0BC5E ;
    text-align: center;
    width: 2.4em;
    border-radius:0px 20px 20px 0px ;
    margin-top: 20px;
}
.icon svg{
    font-size: 1.1em;
    margin-top: 11px;
    margin-right: 2px;
}
.nav-profile{
 
  
  display: none;
  margin-right: 30px;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}


  @media(max-width:820px){
    ul{
      gap: 0.2em;
      width: 100%;
    }
   @media (max-width:845px){
     
.nav-profile{
  display: flex;
}

   }
  
  
  }
  @media (max-width: 750px){
    .checkbtn{
      display: block;
      
    }

    ul{
      position: fixed;
      width: 70%;
      height: 100vh;
      
      
      background: black;
      top: 12vh;
      left: -100%;
      text-align: start;
      transition: all .5s;
      display: flex;
      flex-direction: column;
      
    }
     li{
      display: block;
      margin: 25px 0;
      line-height: 30px;
    }
    .search{
      margin-left: 2em;
      width: 20rem;
    }
    .a{
        flex-direction: column;
        align-items: center;
    }
    
    #check:checked ~ ul{
      left: 0;
  
    }
  
  }

  