@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');




.modal-content {
    position: absolute;
    box-shadow: 15px 15px 10px #D9D7F1, -10px -10px 10px #D9D7F1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.8;
    background: white;
    padding: 12px 28px;
    border-radius: 10px;
    margin-bottom:15px;

    width: 45rem;

    pointer-events: visible;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  
    

    
}
.modal-content form{
    display: flex;

    /* flex-direction: column; */
    justify-content: center;

    text-align: left;
    gap:24px;


}

.modal-content input{
    width: 20rem;
    height: 2.5rem;
    border: 0.75px solid #F0BC5E ;
    border-radius: 4px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px 7px;
    background: transparent;
    border: none;
    font-size:1.7rem;
    transform: rotate(45deg)
}

.form02{
    display: flex;
    flex-wrap: wrap;
}

.form02 button{
    width: 20rem;
    height: 2.5rem;
    background-color: #F25767;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
}
.form02 input{
    font-family:'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.form02 label{
    color: #332A7C;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;

}
::placeholder { 
    color: black;
    padding:5px;
    opacity: 1; /* Firefox */
  }