@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");

.container {
  margin: 0;
  padding: 0;
  height: 94vh;
  width: 100vw;
}

.containerWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 3% 5%;
  background:white;
}

.imageListContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.sideImage {
  width: 40%;
  margin-top: 5%;
}

.imageContainer {
  flex: 2;
  align-items: center;
  width: 35rem;
  /* width: fit-content;
  height: fit-content; */
}
.previewImage {
  height: auto;
  width: 95%;
  border-radius: 20px;
  object-fit: cover;
}

.detailsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin-left: 5%;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;


}

.connectBtn {
  position: relative;
  left: 10%;
  padding: 2%;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  padding: 2px;
  font-family: "Inter", sans-serif;


}
.description_wrapper{
  display: flex;
  flex-direction: column;
  
}
.description{
  height: 15rem;
  width: 95%;
  box-shadow: 10px 15px 10px #d9d7f1, -10px -5px 10px #fdfdfd;
  font-family: "Inter", sans-serif;
  background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url('../../assests/details.jpg');
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 40px;

}

@media (min-device-width: 280px) and (max-device-width: 812px) {
  /* .container {
    position: relative;
  } */
  .containerWrapper {
    flex-wrap: wrap;
  }
  .imageListContainer {
    flex-direction: column;
    right: 10px;
    width: 33%;
    flex: 0 0 25%;
    height: 30%;
    text-align: left;
    box-shadow: 10px 8px 10px #d9d7f1, -10px -5px 10px #fdfdfd;

  }

  .sideImage {
    width: 50%;
    margin-left: 5%;
  }
  .imageContainer {
    flex: 0 0 75%;
    height: 30%;

  }

  .detailsContainer {
    flex: 1;
    height: 60%;
    margin-top: 10%;
    margin-left: 5%;
    font-family: "Hind Siliguri", sans-serif;

  }
}
