.container {
  margin: 0;
  padding: 0;
  height: 94vh;
  width: 100vw;
}

.containerWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 3% 5%;
}

.imageListContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.sideImage {
  width: 40%;
  margin-top: 5%;
}

.imageContainer {
  flex: 2;
  align-items: center;
}
.previewImage {
  height: auto;
  width: 95%;
  border-radius: 20px;
  object-fit: cover;
}

.detailsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin-left: 5%;
}

.connectBtn {
  position: relative;
  left: 10%;
  padding: 2%;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  padding: 2px;
}

@media (min-device-width: 280px) and (max-device-width: 812px) {
  /* .container {
    position: relative;
  } */
  .containerWrapper {
    flex-wrap: wrap;
  }
  .imageListContainer {
    flex-direction: column;
    right: 10px;
    width: 33%;
    flex: 0 0 25%;
    height: 30%;
    text-align: left;
  }

  .sideImage {
    width: 50%;
    margin-left: 5%;
  }
  .imageContainer {
    flex: 0 0 75%;
    height: 30%;
  }

  .detailsContainer {
    flex: 1;
    height: 60%;
    margin-top: 10%;
    margin-left: 5%;
  }
}
