.mainContainer {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.loginSignupContainer {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
}

.signupFormContainer {
  flex: 1;
  padding: 1% 4%;
  /* background-color: #1d1d1d; */
  height: 100%;
}

.loginFormContainer {
  flex: 1;
  padding: 1% 4%;
  /* background-color: #1d1d1d; */
  height: 100%;
}

.signupForm {
  width: 50%;
  height: 100%;
  background: #1d1d1d;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginForm {
  width: 50%;
  height: 100%;
  background: #1d1d1d;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formItem {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.input-field {
  margin: 2% 1%;
  width: 60%;
  padding: 2% 0;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
}

.submit-btn {
  width: 20%;
  height: 2.5rem;
  position: relative;
  /* left: 25%; */
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  /* background-color: #11698e; */
  font-family: "Roboto Condensed", sans-serif;
}

.signupLink {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  color: white;
}

.loginSignupImage {
  position: absolute;
  width: 50%;
  z-index: -1;
  height: 100%;
}

.icons {
  color: #fff;
}
